/* Стили для формы добавления записи */
.form-container {
  margin-bottom: 16px;

  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  button {
    background-color: #1890ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
}
/* Глобальные стили для контейнера */
.container {
  display: flex;
  height: 100vh;

  .form {
    width: 30%;
    padding: 0 16px;
  }

  .content {
    width: 70%;
    padding: 0 16px;
  }
}
.multi-select {
  position: relative;
  width: 100%;
}

.multi-select .tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.multi-select .tag {
  background-color: #e6f7ff;
  color: #1890ff;
  border: 1px solid #91d5ff;
  border-radius: 4px;
  padding: 4px 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.multi-select .tag-selected {
  background-color: #ffccc7;
  color: #f5222d;
  border: 1px solid #ffa39e;
}

.multi-select .close-icon {
  margin-left: 4px;
  cursor: pointer;
}

input {
  flex: 1;
  border: none;
  outline: none;
}

.multi-select .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #d9d9d9;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.multi-select .option {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.multi-select .option:hover {
  background-color: #e6f7ff;
}

.multi-select .option-selected {
  background-color: #ffccc7;
  color: #f5222d;
  border: 1px solid #ffa39e;
}
