/* Глобальные стили для формы */
form {
  max-width: 100%;
  /* Стили для <option> */
  /* Имитация стилей Bootstrap для активного состояния <select> */
  /* Имитация стилей Bootstrap для hover-состояния <option> */
}
form label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  display: block;
  margin-bottom: 16px;
}
form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
}
form input textarea,
form textarea textarea {
  resize: vertical;
}
form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
  background-color: #fff;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
form select option {
  padding: 12px;
  margin-bottom: 8px;
  /* увеличьте или уменьшите это значение по вашему усмотрению */
}
form select:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
form select option:hover {
  background-color: #f8f9fa;
}
form button {
  background-color: #1890ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}
form .error-message {
  color: red;
  font-size: 12px;
  margin-top: -4px;
}
/* Глобальные стили для кнопок */
.btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: #fff;
  border: none;
  cursor: pointer;
}
.btn.edit {
  background-color: #ffc107;
  color: #000;
}
.btn.delete {
  background-color: #dc3545;
  color: #fff;
}
.btn.primary {
  background-color: #1890ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}
.btn.close {
  padding: 5px !important;
}
/* Стили для таблицы */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #dee2e6;
}
table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}
table th {
  font-weight: bold;
}
table tr:nth-child(even) {
  background-color: #f8f9fa;
}
table .small-cell,
table .actions-cell {
  width: 10%;
}
table .large-cell {
  width: 30%;
}
.error {
  padding: 4px;
  background-color: #fff2f0;
  border: 1px solid red;
  border-radius: 5px;
  padding: 15px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.slider {
  width: 100%;
  height: 400px;
  max-width: 100%;
  /* Добавьте эту строку */
}
.card {
  width: 234px;
  margin: auto;
  text-decoration: none !important;
  position: relative;
}
.card * {
  text-decoration: none !important;
}
.card img {
  width: 234px;
  z-index: -2;
}
.card .card-title {
  font-size: 13px;
  color: #000;
  text-decoration: none !important;
}
.card .card-price {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}
.card .card-sub-price {
  color: #000;
  margin: 0;
}
@media (max-width: 767px) {
  .card {
    width: 100%;
  }
  .card img {
    width: 100%;
  }
}
.tabs span {
  font-size: 22px !important;
  padding: 13px 22px;
  border-radius: 22px;
  white-space: nowrap;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  border: none;
  color: #4B3A5A;
  opacity: 0.7;
}
@media (max-width: 767px) {
  .tabs span {
    border: 1px solid #4B3A5A;
  }
}
.tabs span.active {
  color: #4B3A5A;
  opacity: 1;
}
@media (max-width: 767px) {
  .tabs span.active {
    border-color: #1BFF31;
    color: #1BFF31 !important;
    border: 1px solid #1BFF31;
  }
}
@media (max-width: 767px) {
  .tabs {
    display: flex;
    overflow: auto;
    scrollbar-width: thin;
    /* для Firefox */
    scrollbar-color: transparent transparent;
    /* для Firefox */
  }
}
.ant-input-number-handler-wrap {
  opacity: 1 !important;
}
